<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063241768231-uk8n3iqiflqk70r9fpffdv4nhlgjs0tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063241768231-uk8n3iqiflqk70r9fpffdv4nhlgjs0tq</string>
	<key>API_KEY</key>
	<string>AIzaSyBkmgjmJsb3oXssEEeD4W_LafgEAKPvqSg</string>
	<key>GCM_SENDER_ID</key>
	<string>1063241768231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Home.ImdbApp</string>
	<key>PROJECT_ID</key>
	<string>imdbapp-9838d</string>
	<key>STORAGE_BUCKET</key>
	<string>imdbapp-9838d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063241768231:ios:054e1a9fa3b05236ea1d02</string>
</dict>
</plist>